**/__pycache__
**/Resultado_Prueba_experimental_B.mp4
**/Resultado_Prueba_experimental_A.m4v
**/Resultado_Prueba_experimental_A.mp4

**/Resultado_1FPSPrueba_experimental_B.mp4
**/resultados_Prueba_experimental_B.pdf
**/resultados_Prueba_experimental_A.pdf
**/resultados_Prueba_experimental_A.pdf
**/resultados_Prueba_experimental_B.pdf
TEST.txt
TEST_B.txt

**/main.exe
**/output